   :root {

       --color-main0   : #183C5E;
       --color-main1   : #2C5A85;
       --color-main2   : #487CB4;
       --color-main3   : #A7CDED;
       --color-accent1 : #FF6600;
       --color-accent2 : #ffac7c;
       /*  */
       --color-info    : #2BABB5;
       --color-success : #2BB60C;
       --color-warn    : #EAB000;
       --color-error   : #D80329;
       /*  */
       --color-link    : #6200EE;
       --color-download: #11691f;
       --color-dark    : #224466;
       --color-back    : #EDF2F7;
       --color-back1   : #EDF2F7;
       --color-back2   : #D5D9DD;
       --color-back3   : #BCCCD5;
   }